@font-face {
  font-family: 'LeeSeoyun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'LeeSeoyun', Arial, sans-serif;
  background: linear-gradient(to bottom right, #b0a28b, #e6dccc);
  margin: 0;
  padding:0;

}
.App{
  width:100vw;
  height:100vh;

}



